version 3/type-1/node-red demo.txt
[{"id":"cf896c053aa0f093","type":"mqtt in","z":"c97824ddcf81fe87","name":"ButtonSwitch Output","topic":"buttonswitch/button","qos":"0","datatype":"json","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":150,"y":320,"wires":[["8f507424fc280cdb","24a8f1bf74ab70a8"]]},{"id":"27ca51057dd262a7","type":"state-machine","z":"c97824ddcf81fe87","name":"button Switch status","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["offline","online"],"transitions":[{"name":"1","from":"offline","to":"online"},{"name":"0","from":"online","to":"offline"}],"x":440,"y":120,"wires":[[]]},{"id":"6219d036e566ab73","type":"mqtt in","z":"c97824ddcf81fe87","name":"LWT buttonswitch","topic":"buttonswitch/LWT","qos":"0","datatype":"auto","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":140,"y":120,"wires":[["27ca51057dd262a7"]]},{"id":"bc4d1652e99c41d8","type":"comment","z":"c97824ddcf81fe87","name":"LWT","info":"","x":110,"y":80,"wires":[]},{"id":"2ee9907ef42601e9","type":"comment","z":"c97824ddcf81fe87","name":"Connection Debug","info":"","x":150,"y":180,"wires":[]},{"id":"c17a75af93e183a7","type":"mqtt in","z":"c97824ddcf81fe87","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":120,"y":220,"wires":[["fb9164e8f97a3e88"]]},{"id":"fb9164e8f97a3e88","type":"debug","z":"c97824ddcf81fe87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":220,"wires":[]},{"id":"7c308d6352a7dfcd","type":"comment","z":"c97824ddcf81fe87","name":"Outgoing topic","info":"","x":130,"y":280,"wires":[]},{"id":"128d4a81826fd917","type":"comment","z":"c97824ddcf81fe87","name":"Control","info":"","x":110,"y":420,"wires":[]},{"id":"1c07fc2434a29261","type":"mqtt out","z":"c97824ddcf81fe87","name":"MQTT out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":400,"y":460,"wires":[]},{"id":"8f507424fc280cdb","type":"debug","z":"c97824ddcf81fe87","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":320,"wires":[]},{"id":"992456eb97080445","type":"link in","z":"c97824ddcf81fe87","name":"mqtt out","links":["36d65c5dca4fdc6d","5908876dfc38093e","8abff0e82007b065","a37288d369d05315","b3976a56af87838c","be758a9ee3e3c369","3860243dfe487745"],"x":75,"y":460,"wires":[["1c07fc2434a29261"]]},{"id":"24a8f1bf74ab70a8","type":"link out","z":"c97824ddcf81fe87","name":"button input","links":["287a1450148c9beb"],"x":355,"y":360,"wires":[]},{"id":"5908876dfc38093e","type":"link out","z":"c97824ddcf81fe87","name":"","links":["992456eb97080445"],"x":1435,"y":180,"wires":[]},{"id":"8d007eba78e04533","type":"inject","z":"c97824ddcf81fe87","name":"start timer","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":760,"y":160,"wires":[["07f1e63bc55ac171"]]},{"id":"05bbf1ff268e88cd","type":"inject","z":"c97824ddcf81fe87","name":"stop timer","props":[{"p":"reset","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":760,"y":200,"wires":[["07f1e63bc55ac171"]]},{"id":"07f1e63bc55ac171","type":"trigger","z":"c97824ddcf81fe87","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-750","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":980,"y":180,"wires":[["e0f55964db8a9869"]]},{"id":"e0f55964db8a9869","type":"state-machine","z":"c97824ddcf81fe87","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["0","1"],"transitions":[{"name":"1","from":"0","to":"1"},{"name":"1","from":"1","to":"0"}],"x":1180,"y":180,"wires":[["fbfc400087d501b8"]]},{"id":"fbfc400087d501b8","type":"change","z":"c97824ddcf81fe87","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":180,"wires":[["5908876dfc38093e"]]},{"id":"6eda1711257b8204","type":"switch","z":"c97824ddcf81fe87","name":"Buttons 1 - 4","property":"payload.BUTTON","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":700,"wires":[["c4e7f2b83614ef34"],["ed8430216da2e68d"],["d54c0e46c3b7056a"],["d54c0e46c3b7056a"]]},{"id":"287a1450148c9beb","type":"link in","z":"c97824ddcf81fe87","name":"","links":["24a8f1bf74ab70a8"],"x":95,"y":700,"wires":[["6eda1711257b8204"]]},{"id":"c4e7f2b83614ef34","type":"function","z":"c97824ddcf81fe87","name":"Button 1 fade","func":"var step = flow.get(\"step\")||0;\nvar color = 0;\nvar buttnum = 1;\nvar off = \"0,0,0,0\";\n\n\nswitch (msg.payload.ACTION){\n    case \"SINGLE\": {\n        step++;\n        if (step === 8){\n            step = 1;\n        }\n        msg.topic = \"buttonswitch/fade\"\n        \n        if (step === 1){ // led red\n           msg.payload = buttnum + \",100,0,0,0\";\n        }\n        if (step === 2){ // led green\n           msg.payload = buttnum + \",0,100,0,0\";\n        }\n        if (step === 3){ // led blue\n           msg.payload = buttnum + \",0,0,100,0\"; \n        }\n        if (step === 4){ // led white\n           msg.payload = buttnum + \",0,0,0,100\";  \n        }\n        if (step === 5){ // led purple\n           msg.payload = buttnum + \",100,0,100,0\"; \n        }\n        if (step === 6){ // led yellow\n           msg.payload = buttnum + \",100,100,0,0\"; \n        }\n        if (step === 7){ // led cyan\n           msg.payload = buttnum + \",0,100,100,0\"; \n        }\n        break;\n    }\n    case \"DOUBLE\": { // maybe use this to set off?\n        msg.topic = \"buttonswitch/fade\"\n        msg.payload = buttnum + \",\" + off;\n        break;\n    }\n    \n    case \"TRIPLE\": {\n        return;\n    }\n    case \"QUAD\": {\n        return;\n    }\n    case \"PENTA\": {\n        return;\n    }\n    case \"HOLD\": {\n        return;\n    }\n}\n\n// store the values back\nflow.set('step',step);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":640,"wires":[["8abff0e82007b065"]]},{"id":"8abff0e82007b065","type":"link out","z":"c97824ddcf81fe87","name":"","links":["992456eb97080445"],"x":615,"y":640,"wires":[]},{"id":"ed8430216da2e68d","type":"function","z":"c97824ddcf81fe87","name":"Button 2 timer","func":"//var timer = flow.get(\"timer\")||0;\nvar color = 0;\nvar buttnum = msg.payload.BUTTON;\nvar off = \"0,0,0,0\";\n\n\nswitch (msg.payload.ACTION){\n    case \"SINGLE\": {\n        msg.payload = 8;\n        break;\n    }\n    case \"DOUBLE\": { // maybe use this to set off?\n        msg.payload = 0;\n        break;\n    }\n    \n    case \"TRIPLE\": {\n        return;\n    }\n    case \"QUAD\": {\n        return;\n    }\n    case \"PENTA\": {\n        return;\n    }\n    case \"HOLD\": {\n        return;\n    }\n}\n\n\n// store the values back\n//flow.set('timer',timer);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":680,"wires":[["9c7106c3c8282474"]]},{"id":"9a4d7268ff43ff2f","type":"function","z":"c97824ddcf81fe87","name":"Button 2 timer","func":"var block = flow.get(\"block\")||0;\nvar color = 0;\nvar off = \"0,0,0,0\";\n\n\nswitch (msg.payload){\n    case 8:{\n        if (block != 8){\n            msg.topic = \"buttonswitch/ring\";\n            msg.payload = \"2,4,0,30,0,0\";\n            block = 8;\n        }\n        else{\n            return;\n        }\n        break;\n    }\n    case 7:{\n        return;\n    }\n    case 6:{\n        if (block != 6){\n            msg.topic = \"buttonswitch/ring\";\n            msg.payload = \"2,3,20,20,0,0\";\n            block = 6;\n        }\n        else{\n            return;\n        }\n        break;\n    }\n    case 5:{\n        return;\n    }\n    case 4:{\n        if (block != 4){\n            msg.topic = \"buttonswitch/ring\";\n            msg.payload = \"2,2,30,10,0,0\";\n            block = 4;\n        }\n        else{\n            return;\n        }\n        break;\n    }\n    case 3:{\n        return;\n    }\n    case 2:{\n        if (block != 2){\n            msg.topic = \"buttonswitch/ring\";\n            msg.payload = \"2,1,50,0,0,0\";\n            block = 2;\n        }\n        else{\n            return;\n        }\n        break;\n    }\n    case 1:{\n        return;\n    }\n    case 0:{\n        if (block != 0){\n            msg.topic = \"buttonswitch/rgbw\";\n            msg.payload = \"2,0,0,0,0\";\n            block = 0;\n        }\n        else{\n            return;\n        }\n      break;\n    }\n    case -1:{\n        return;\n    }\n}\n\n// store the values back\nflow.set('block',block);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":680,"wires":[["36d65c5dca4fdc6d"]]},{"id":"9c7106c3c8282474","type":"countdown","z":"c97824ddcf81fe87","name":"","topic":"","payloadTimerStart":"8","payloadTimerStartType":"num","payloadTimerStop":"-1","payloadTimerStopType":"num","timer":"8","resetWhileRunning":true,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":670,"y":680,"wires":[["9a4d7268ff43ff2f"],["9a4d7268ff43ff2f"]]},{"id":"36d65c5dca4fdc6d","type":"link out","z":"c97824ddcf81fe87","name":"","links":["992456eb97080445"],"x":1035,"y":680,"wires":[]},{"id":"a055f93e136f5f45","type":"function","z":"c97824ddcf81fe87","name":"Button 3 fwd demo","func":"var step1 = flow.get(\"step1\")||0;\nvar color = 0;\nvar buttnum = 3;\nvar off = buttnum + \",0,0,0,0\";\n\n\nswitch (msg.payload.ACTION){\n    case \"SINGLE\": {\n        step1++;\n        if (step1 > 5){\n            step1 = 1;\n        }\n        msg.topic = \"buttonswitch/fwd\"\n        \n        if (step1 === 1){ // led red 3 pixels\n           msg.payload = buttnum + \",50,0,0,0,0,0,0,0\";\n           break;\n        //   3, 0, 0, 0, 255, 0, 0, 255, 0\n        }\n        if (step1 === 2){ // led red 1 pixel\n           msg.payload = buttnum + \",0,0,0,0,100,0,0,0\";\n           break;\n        }\n        if (step1 === 3){ // led 3 blue 1 white\n           msg.payload = buttnum + \",0,0,75,0,0,0,0,20\"; \n           break;\n        }\n        if (step1 === 4){ // led 3 white 1 blue\n           msg.payload = buttnum + \",0,0,0,20,0,0,100,0\";\n           break;\n        }\n        if (step1 === 5){ // led 3 purple 1 off\n           msg.payload = buttnum + \",25,0,25,0,0,0,0,0\"; \n           break;\n        }\n        break;\n    }\n    case \"DOUBLE\": { // maybe use this to set off?\n        msg.topic = \"buttonswitch/rgbw\"\n        msg.payload = off;\n        break;\n    }\n    \n    case \"TRIPLE\": {\n        return;\n    }\n    case \"QUAD\": {\n        return;\n    }\n    case \"PENTA\": {\n        return;\n    }\n    case \"HOLD\": {\n        return;\n    }\n}\n\n// store the values back\nflow.set('step1',step1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":760,"wires":[["a37288d369d05315"]]},{"id":"a37288d369d05315","type":"link out","z":"c97824ddcf81fe87","name":"","links":["992456eb97080445"],"x":1035,"y":780,"wires":[]},{"id":"0b165ff0046a75de","type":"switch","z":"c97824ddcf81fe87","name":"","property":"payload.BUTTON","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":780,"wires":[[],[],["a055f93e136f5f45"],["58bac588b8f4f455"]]},{"id":"d11f8bb73ccc0713","type":"inject","z":"c97824ddcf81fe87","name":"Demo 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":750,"y":320,"wires":[["06f325c568807763"]]},{"id":"264c35edd7ac4d82","type":"traffic","z":"c97824ddcf81fe87","name":"","property_allow":"payload","filter_allow":"GO","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"STOP","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":550,"y":780,"wires":[["0b165ff0046a75de"]]},{"id":"fd456f1baa0b1f2f","type":"traffic","z":"c97824ddcf81fe87","name":"","property_allow":"payload","filter_allow":"GO","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"STOP","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":550,"y":880,"wires":[["924d1142f1026b44"]]},{"id":"67db766f8e6ec6f3","type":"inject","z":"c97824ddcf81fe87","name":"Demo 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":750,"y":360,"wires":[["06f325c568807763"]]},{"id":"afc881e63da3e947","type":"traffic","z":"c97824ddcf81fe87","name":"","property_allow":"payload","filter_allow":"GO","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"STOP","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":550,"y":980,"wires":[["fc40e5bdc56c92e8"]]},{"id":"7a236e9c0a2d7233","type":"inject","z":"c97824ddcf81fe87","name":"Demo 3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"str","x":750,"y":400,"wires":[["06f325c568807763"]]},{"id":"cb38431425f4cf33","type":"function","z":"c97824ddcf81fe87","name":"demo mode selection","func":"\nswitch (msg.payload){\n    case \"1\": {\n        msg.payload = \"GO\";\n        break;\n    }\n    case \"2\": { \n        msg.payload = \"STOP\";\n        break;\n    }\n    \n    case \"3\": {\n        msg.payload = \"STOP\";\n        break;\n    }\n    case \"4\": {\n        msg.payload = \"STOP\";\n        break;\n    }\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":780,"wires":[["264c35edd7ac4d82"]]},{"id":"09633786f03c10f9","type":"function","z":"c97824ddcf81fe87","name":"demo mode selection","func":"\nswitch (msg.payload){\n    case \"1\": {\n        msg.payload = \"STOP\";\n        break;\n    }\n    case \"2\": { \n        msg.payload = \"GO\";\n        break;\n    }\n    \n    case \"3\": {\n        msg.payload = \"STOP\";\n        break;\n    }\n    case \"4\": {\n        msg.payload = \"STOP\";\n        break;\n    }\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":880,"wires":[["fd456f1baa0b1f2f"]]},{"id":"1f84ea87094525a0","type":"function","z":"c97824ddcf81fe87","name":"demo mode selection","func":"\nswitch (msg.payload){\n    case \"1\": {\n        msg.payload = \"STOP\";\n        break;\n    }\n    case \"2\": { \n        msg.payload = \"STOP\";\n        break;\n    }\n    \n    case \"3\": {\n        msg.payload = \"GO\";\n        break;\n    }\n    case \"4\": {\n        msg.payload = \"STOP\";\n        break;\n    }\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":980,"wires":[["afc881e63da3e947"]]},{"id":"8513b9edaf6b5be7","type":"link in","z":"c97824ddcf81fe87","name":"traffic function input","links":["06f325c568807763"],"x":95,"y":880,"wires":[["cb38431425f4cf33","09633786f03c10f9","1f84ea87094525a0"]]},{"id":"06f325c568807763","type":"link out","z":"c97824ddcf81fe87","name":"demo inject","links":["8513b9edaf6b5be7"],"x":875,"y":360,"wires":[]},{"id":"58bac588b8f4f455","type":"function","z":"c97824ddcf81fe87","name":"Button 4 fwd demo","func":"var step2 = flow.get(\"step2\")||0;\nvar color = 0;\nvar buttnum = 4;\nvar off = buttnum + \",0,0,0,0\";\n\n\nswitch (msg.payload.ACTION){\n    case \"SINGLE\": {\n        step2++;\n        if (step2 > 5){\n            step2 = 1;\n        }\n        msg.topic = \"buttonswitch/fwd\"\n        \n        if (step2 === 1){ // led red 3 pixels\n           msg.payload = buttnum + \",50,0,0,0,0,0,0,0\";\n           break;\n        //   3, 0, 0, 0, 255, 0, 0, 255, 0\n        }\n        if (step2 === 2){ // led red 1 pixel\n           msg.payload = buttnum + \",0,0,0,0,100,0,0,0\";\n           break;\n        }\n        if (step2 === 3){ // led 3 blue 1 white\n           msg.payload = buttnum + \",0,0,75,0,0,0,0,20\"; \n           break;\n        }\n        if (step2 === 4){ // led 3 white 1 blue\n           msg.payload = buttnum + \",0,0,0,20,0,0,100,0\";\n           break;\n        }\n        if (step2 === 5){ // led 3 purple 1 off\n           msg.payload = buttnum + \",25,0,25,0,0,0,0,0\"; \n           break;\n        }\n        break;\n    }\n    case \"DOUBLE\": { // maybe use this to set off?\n        msg.topic = \"buttonswitch/rgbw\"\n        msg.payload = off;\n        break;\n    }\n    \n    case \"TRIPLE\": {\n        return;\n    }\n    case \"QUAD\": {\n        return;\n    }\n    case \"PENTA\": {\n        return;\n    }\n    case \"HOLD\": {\n        return;\n    }\n}\n\n// store the values back\nflow.set('step2',step2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":800,"wires":[["a37288d369d05315"]]},{"id":"d54c0e46c3b7056a","type":"link out","z":"c97824ddcf81fe87","name":"buttons 3/4","links":["7a13302ddb87f418","b03f2daa4f8831b1","2018c49db96c6687"],"x":435,"y":720,"wires":[]},{"id":"7a13302ddb87f418","type":"link in","z":"c97824ddcf81fe87","name":"button 3/4 output","links":["d54c0e46c3b7056a"],"x":435,"y":760,"wires":[["264c35edd7ac4d82"]]},{"id":"b03f2daa4f8831b1","type":"link in","z":"c97824ddcf81fe87","name":"button 3/4 output","links":["d54c0e46c3b7056a"],"x":435,"y":860,"wires":[["fd456f1baa0b1f2f"]]},{"id":"2018c49db96c6687","type":"link in","z":"c97824ddcf81fe87","name":"button 3/4 output","links":["d54c0e46c3b7056a"],"x":435,"y":960,"wires":[["afc881e63da3e947"]]},{"id":"924d1142f1026b44","type":"switch","z":"c97824ddcf81fe87","name":"","property":"payload.BUTTON","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":880,"wires":[[],[],["f4a397167d0a6589"],["b2310e2c1ddd7ffb"]]},{"id":"f4a397167d0a6589","type":"function","z":"c97824ddcf81fe87","name":"Button 3 bwd demo","func":"var step1 = flow.get(\"step1\")||0;\nvar color = 0;\nvar buttnum = 3;\nvar off = buttnum + \",0,0,0,0\";\n\n\nswitch (msg.payload.ACTION){\n    case \"SINGLE\": {\n        step1++;\n        if (step1 > 5){\n            step1 = 1;\n        }\n        msg.topic = \"buttonswitch/bwd\"\n        \n        if (step1 === 1){ // led red 3 pixels\n           msg.payload = buttnum + \",50,0,0,0,0,0,0,0\";\n           break;\n        //   3, 0, 0, 0, 255, 0, 0, 255, 0\n        }\n        if (step1 === 2){ // led red 1 pixel\n           msg.payload = buttnum + \",0,0,0,0,100,0,0,0\";\n           break;\n        }\n        if (step1 === 3){ // led 3 blue 1 white\n           msg.payload = buttnum + \",0,0,75,0,0,0,0,20\"; \n           break;\n        }\n        if (step1 === 4){ // led 3 white 1 blue\n           msg.payload = buttnum + \",0,0,0,20,0,0,100,0\";\n           break;\n        }\n        if (step1 === 5){ // led 3 purple 1 off\n           msg.payload = buttnum + \",25,0,25,0,0,0,0,0\"; \n           break;\n        }\n        break;\n    }\n    case \"DOUBLE\": { // maybe use this to set off?\n        msg.topic = \"buttonswitch/rgbw\"\n        msg.payload = off;\n        break;\n    }\n    \n    case \"TRIPLE\": {\n        return;\n    }\n    case \"QUAD\": {\n        return;\n    }\n    case \"PENTA\": {\n        return;\n    }\n    case \"HOLD\": {\n        return;\n    }\n}\n\n// store the values back\nflow.set('step1',step1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":860,"wires":[["be758a9ee3e3c369"]]},{"id":"b2310e2c1ddd7ffb","type":"function","z":"c97824ddcf81fe87","name":"Button 4 fwd demo","func":"var step = flow.get(\"step2\")||0;\nvar color = 0;\nvar buttnum = 4;\nvar off = buttnum + \",0,0,0,0\";\n\n\nswitch (msg.payload.ACTION){\n    case \"SINGLE\": {\n        step++;\n        if (step > 5){\n            step = 1;\n        }\n        msg.topic = \"buttonswitch/fwd\"\n        \n        if (step === 1){ // led red 3 pixels\n           msg.payload = buttnum + \",50,0,0,0,0,0,0,0\";\n           break;\n        //   3, 0, 0, 0, 255, 0, 0, 255, 0\n        }\n        if (step === 2){ // led red 1 pixel\n           msg.payload = buttnum + \",0,0,0,0,100,0,0,0\";\n           break;\n        }\n        if (step === 3){ // led 3 blue 1 white\n           msg.payload = buttnum + \",0,0,75,0,0,0,0,20\"; \n           break;\n        }\n        if (step === 4){ // led 3 white 1 blue\n           msg.payload = buttnum + \",0,0,0,20,0,0,100,0\";\n           break;\n        }\n        if (step === 5){ // led 3 purple 1 off\n           msg.payload = buttnum + \",25,0,25,0,0,0,0,0\"; \n           break;\n        }\n        break;\n    }\n    case \"DOUBLE\": { // maybe use this to set off?\n        msg.topic = \"buttonswitch/rgbw\"\n        msg.payload = off;\n        break;\n    }\n    \n    case \"TRIPLE\": {\n        return;\n    }\n    case \"QUAD\": {\n        return;\n    }\n    case \"PENTA\": {\n        return;\n    }\n    case \"HOLD\": {\n        return;\n    }\n}\n\n// store the values back\nflow.set('step2',step);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":900,"wires":[["be758a9ee3e3c369"]]},{"id":"be758a9ee3e3c369","type":"link out","z":"c97824ddcf81fe87","name":"","links":["992456eb97080445"],"x":1035,"y":880,"wires":[]},{"id":"fc40e5bdc56c92e8","type":"switch","z":"c97824ddcf81fe87","name":"","property":"payload.BUTTON","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":980,"wires":[[],[],["c73a9e3f440798f7"],["2b483cc3595d4066"]]},{"id":"c73a9e3f440798f7","type":"function","z":"c97824ddcf81fe87","name":"Button 3 flash demo","func":"var step = flow.get(\"step1\")||0;\nvar color = 0;\nvar buttnum = 3;\nvar off = buttnum + \",0,0,0,0\";\n\n\nswitch (msg.payload.ACTION){\n    case \"SINGLE\": {\n        step++;\n        if (step > 7){\n            step = 1;\n        }\n        msg.topic = \"buttonswitch/flash\"\n        \n        if (step === 1){ // led red\n           msg.payload = buttnum + \",25,0,0,0\";\n           break;\n        //   3, 0, 0, 0, 255, 0, 0, 255, 0\n        }\n        if (step === 2){ // led green\n           msg.payload = buttnum + \",0,25,0,0\";\n           break;\n        }\n        if (step === 3){ // led blue\n           msg.payload = buttnum + \",0,0,25,0\"; \n           break;\n        }\n        if (step === 4){ // led white\n           msg.payload = buttnum + \",0,0,0,25\";\n           break;\n        }\n        if (step === 5){ // led purple\n           msg.payload = buttnum + \",25,0,25,0\"; \n           break;\n        }\n        if (step === 6){ // led yellow\n           msg.payload = buttnum + \",25,25,0,0\"; \n           break;\n        }\n        if (step === 7){ // led cyan\n           msg.payload = buttnum + \",0,25,25,0\"; \n           break;\n        }\n        break;\n    }\n    case \"DOUBLE\": { // maybe use this to set off?\n        msg.topic = \"buttonswitch/rgbw\"\n        msg.payload = off;\n        break;\n    }\n    \n    case \"TRIPLE\": {\n        return;\n    }\n    case \"QUAD\": {\n        return;\n    }\n    case \"PENTA\": {\n        return;\n    }\n    case \"HOLD\": {\n        return;\n    }\n}\n\n// store the values back\nflow.set('step1',step);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":960,"wires":[["3860243dfe487745"]]},{"id":"2b483cc3595d4066","type":"function","z":"c97824ddcf81fe87","name":"Button 4 multi option","func":"var step = flow.get(\"step2\")||0;\nvar color = 0;\nvar buttnum = 4;\nvar off = buttnum + \",0,0,0,0\";\n\n\nswitch (msg.payload.ACTION){\n    case \"SINGLE\": {\n        step++;\n        if (step > 7){\n            step = 1;\n        }\n        msg.topic = \"buttonswitch/rgbw\"\n        \n        if (step === 1){ // led red\n           msg.payload = buttnum + \",25,0,0,0\";\n           break;\n        //   3, 0, 0, 0, 255, 0, 0, 255, 0\n        }\n        if (step === 2){ // led green\n           msg.payload = buttnum + \",0,25,0,0\";\n           break;\n        }\n        if (step === 3){ // led blue\n           msg.payload = buttnum + \",0,0,25,0\"; \n           break;\n        }\n        if (step === 4){ // led white\n           msg.payload = buttnum + \",0,0,0,25\";\n           break;\n        }\n        if (step === 5){ // led purple\n           msg.payload = buttnum + \",25,0,25,0\"; \n           break;\n        }\n        if (step === 6){ // led yellow\n           msg.payload = buttnum + \",25,25,0,0\"; \n           break;\n        }\n        if (step === 7){ // led cyan\n           msg.payload = buttnum + \",0,25,25,0\"; \n           break;\n        }\n        break;\n    }\n    case \"DOUBLE\": { // maybe use this to set off?\n        msg.topic = \"buttonswitch/rgbw\"\n        msg.payload = off;\n        break;\n    }\n    \n    case \"TRIPLE\": {\n        return;\n    }\n    case \"QUAD\": {\n        return;\n    }\n    case \"PENTA\": {\n        return;\n    }\n    case \"HOLD\": {\n        return;\n    }\n}\n\n// store the values back\nflow.set('step2',step);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1000,"wires":[["3860243dfe487745"]]},{"id":"3860243dfe487745","type":"link out","z":"c97824ddcf81fe87","name":"","links":["992456eb97080445"],"x":1035,"y":980,"wires":[]},{"id":"ffd06d54f84daa7a","type":"comment","z":"c97824ddcf81fe87","name":"Flash speed - used in demo 3","info":"","x":800,"y":120,"wires":[]},{"id":"6010feea6bf1979b","type":"comment","z":"c97824ddcf81fe87","name":"Select Demo mode - used on buttons 3/4","info":"","x":840,"y":280,"wires":[]},{"id":"c04f10a7350a34b7","type":"comment","z":"c97824ddcf81fe87","name":"Demo Functions - nothing needs to be changed here","info":"","x":250,"y":600,"wires":[]},{"id":"e27d6b30.26f748","type":"mqtt-broker","name":"","broker":"192.168.0.54","port":"1883","clientid":"test","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]